[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
matplotlib = "*"
openai = "*"
pandas = "*"
pillow = "*"
streamlit = "*"
python-dotenv = "*"
"ruamel.yaml" = "*"
vendetta = "*"
glob2 = "*"
lxml = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
